.logo {
	max-height: 50px;
	float: left;
	max-width: 3vw;
	/* display: inline-block; */
}
.head {
	float: left;
	font-size: 17px;
	overflow: hidden;
	max-width: 11vw;
	margin-left: .5vw;
	margin-top: 1vh;
	
}
.sidebar-heading{
    padding-right: 0px  !important;
    overflow: hidden;
}


.center{
   text-align: center !important;
}


.login{
    background-color: #449D44;
    font-size: 20px;
    color:white;
    font-weight: bold;
    border-radius: 6px;
}
.login-btn{
    font-size: 20px;
    text-transform: capitalize;
}

.error{
    color :#c71400;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
textarea{
	width:100%;
}