.logo {
	max-height: 50px;
	float: left;
	max-width: 3vw;
	/* display: inline-block; */
}

.post{

background: #c7c7c74f  !important;
}
.head {
	float: left;
	font-size: 17px;
	overflow: hidden;
	max-width: 11vw;
	margin-left: .5vw;
	margin-top: 1vh;
	
}
.sidebar-heading{
    padding-right: 0px  !important;
    overflow: hidden;
}
.error{
    color :#c71400;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}